@font-face {
    font-family: 'Kaushan Script';
    font-weight: normal;
    src: url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
}
@font-face {
    font-family: 'Montserrat' ;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

@font-face {
    font-family: 'Roboto';
    font-family:  normal;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

/* global styles */
:focus {
    outline: none;
}
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    line-height: 22px;
    height: 100%;
}
body {
    font-family: 'Roboto', serif;
    color: #B6B6B6;
    font-size: 1em;
    height: 100%;
}

h2, h3, .uptitle {
    color: #333;
}
.uptitle {
    font-family: 'Kaushan Script', serif;   
}
h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}
h3,
.menu-item, .header, footer {
    font-size: 0.93em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    padding: 50px 0;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    margin: 20px 0 40px;
    text-transform: uppercase;
}
hr {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #F38181;;
    margin-bottom: 65px;
}

 /* header */
 @media (max-width: 768px) {
    .header {
      padding-bottom: 25px;
      border-bottom: 2px solid #95E1D3;
    }
  }

.header {
    background: #fff;
    text-transform: uppercase;
    z-index: 1002;
    width: 100%;
    position: fixed;
    padding: 17px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.menu-link,
.header {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #95E1D3;
}
.logo,
h2 {
    font-size: 2em;
}
.menu-list {
    display: flex;
}

.menu-link:hover {
    color: #000;
    transition: .5s;
}

.menu-item {
    margin-left: 55px;
}

/* .header .toggle {
    display: none;
  }
  .header .toggle:checked ~ .menu {
    right: 0;
    display: block;
  }
  .header .toggle-btn {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 3;
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #95E1D3;
    z-index: 5;
  }
  @media (max-width: 768px) {
    .header .toggle-btn {
      display: block;
    }
  }
  .header .toggle-btn span,
  .header .toggle-btn span::before,
  .header .toggle-btn span::after {
    display: block;
    height: 3px;
    border-radius: 20px;
    width: 25px;
    background: #95E1D3;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  @media (max-width: 768px) {
    .header .toggle-btn span::before {
      content: '';
      top: -8px;
    }
  }
  @media (max-width: 768px) {
    .header .toggle-btn span::after {
      content: '';
      top: 8px;
    }
  }
  .header .toggle-btn span {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-list .menu-item {
    margin-left: 55px;
  }
  .menu-list .menu-item:first-child {
    margin-left: 0;
  }
  @media (max-width: 768px) {
    .menu-list .menu-item {
      margin-left: 0;
    }
  }
  .menu-list .menu-item .menu-link {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #95E1D3;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  .menu-list .menu-item .menu-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background: #F38181;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .menu-list .menu-item .menu-link:hover, .menu-list .menu-item .menu-link:focus {
    color: #F38181;
    outline: none;
  }
  .menu-list .menu-item .menu-link:hover::after, .menu-list .menu-item .menu-link:focus::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  @media (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      background: #95E1D3;
      right: -100%;
      z-index: 4;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .menu .menu-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  @media (max-width: 768px) {
    .menu .menu-list {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
    }
  }
  .menu .menu-list .menu-link {
    display: inline-block;
  }
  @media (max-width: 768px) {
    .menu .menu-list .menu-link {
      font-size: 30px;
      color: #fff;
    }
  }
  .toggle:checked + .toggle-btn span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
  }
  .toggle:checked + .toggle-btn span::before {
    top: 0;
    background: #fff;
  }
  .toggle:checked + .toggle-btn span::after {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: #fff;
  } */


#toggle {
    display: none;
}

#toggle:checked ~ .menu {
    top: 0;
}

#toggle:checked ~ label .toggle-btn {
    transform: rotate(45deg);
}

#toggle:checked ~ label .toggle-btn::before {
    top: 0;
}

#toggle:checked ~ label .toggle-btn::after {
    top: 0;
    transform: rotate(-90deg);
}

label {
    display: none;
    position: relative;
    width: 30px;
    height: 50px;
}

.toggle-btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    top: 50%;
    transition: all .5s;
}

.toggle-btn::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    top: -10px;
    transition: all .5s;
}

.toggle-btn::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 10px;
    transition: all .5s;
}
@media (max-width:768px) {
    label {
        display: block;
        z-index: 1111;
        color: #fff;
    }
    .menu {
        background: #95E1D3;
        position: fixed;
        width: 100%;
        right: 0;
        height: 100vh;
        top: -200%;
        transition: top .5s;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }
    .menu-item {
        margin-left: 0;
        padding: 3em;
        display: flex;
        flex-direction: column;
    }
    .menu-link {
        color: #fff;
    }
}
/* services */
@media (max-width: 768px) {
.services .services-list {
    flex-wrap: wrap;
    }
}

.services .services-list > li {
    width: 33.33%;
}

@media (max-width: 768px) {
    .services .services-list > li {
      width: 50%;
    }
}

@media (max-width: 425px) {
    .services .services-list > li {
      width: 100%;
    }
}

.services {
    padding-top: 100px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}
.services-item {
    width: 33.33%;
    padding: 0 35px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}
.services-item:nth-child(3n) {
    margin-bottom: 100px;
}
.services-item img {
    margin-right: 20px;
}

/* man */
.men {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.social-container {
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16px;
    left: -10px;
    opacity: 0;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-container:hover {
    opacity: 1;
}

.rel-pos img{
    display: inline-block;
    max-width: 100%;    
} 

.man h2  {
    font-family: 'Monseratt', serif;
    font-weight: 400;
    font-size: 0.93em;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    padding-top: 30px;
}
.man h3 {
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: 300;
    color: #B6B6B6;
    text-align: center;
}
.rel-pos {
    position: relative;
}

/* social */
.social-link {
    background: #FCE38A;
    padding: 20px 5px 5px 10px; 
    margin-right: 1px;
}

.social-link:nth-last-child(1) {
    padding-right: 10px;
}

.social-link:hover {
    background: #95E1D3;
    transition: .3s;
}
/* footer */
footer {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 0 50px;
    border-top: 1px solid #B6B6B6;
    display: block;
}

input:nth-last-child(1) {
    border: none;
    background-color: #95E1D3;
    height: 40px;
    width: 150px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}

input:nth-last-child(2) {
    border: 1px solid #B6B6B6;
    border-right: none;
    width: 240px;
    height: 40px;
    padding: 10px;
}

::-webkit-input-placeholder, ::-moz-placeholder {
    color: #B6B6B6;
}

.content-box {
    display: flex;
    justify-content: space-between;
}
.button {
    display: flex;
}
@media (max-width: 768px) {
    .men {
        width: 50%;
    }
}
@media (max-width: 425px) {
    .rel-pos {
        display: block;
    }
    .menu {
        width: 100%;
    }
}