@font-face {
    font-family: 'Kaushan Script';
    font-weight: normal;
    font-size: 400;
    src: url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
}
@font-face {
    font-family: 'Montserrat' ;
    font-style: normal;
    font-size: 400;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

@font-face {
    font-family: 'Roboto';
    font-family:  normal;
    font-size: 300;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
/* global styles */
:focus {
    outline: none;
}
* {
    margin: 0 ;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    line-height: 22px;
    height: 100%;
}
body {
    font-family: 'Roboto', serif;
    color: #B6B6B6;
    font-size: 1em;
    height: 100%;
}
h2, h3, .uptitle {
    color: #333;
}
.uptitle {
    font-family: 'Kaushan Script', serif;   
}
h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}
h3,
.menu-item, .header, footer {
    font-size: 0.93em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 180%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    padding: 50px 0;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    margin: 20px 0 40px;
    text-transform: uppercase;
}
hr {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #F38181;;
    margin-bottom: 65px;
}
 /* header */
.header {
    padding: 17px 0;
    font-family: 'Montserrat', serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo,
.menu-link {
    color: #95E1D3;
}
.logo,
h2 {
    font-size: 2em;
}
.menu-list {
    display: flex;
}
.menu-item {
    margin-left: 55px;
}

/* services */
.services-list {
    display: flex;
    flex-wrap: wrap;
}
.services-item {
    width: 33.33%;
    padding: 0 35px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}
.services-item:nth-child(3n) {
    margin-bottom: 100px;
}
.services-item img {
    margin-right: 20px;
}
/* man */
.man li {
    padding: 0 20px 0 0 ;
}
.men {
    display: flex;
    position: absolute;
    padding-bottom: 20px;
}
.men1 {
    position: relative;
    display: inline-block;
}
.men1::before {
    content: '';
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    width: 95%;
    height: 85%;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    transition: .3s;
}
.men1:hover::before {
    opacity: 1;
}
.man h2  {
    font-family: 'Monseratt', serif;
    font-weight: 400;
    font-size: 0.93em;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    padding-top: 30px;
}
.man h3 {
    font-family: 'Roboto', serif;
    font-style: italic;
    font-weight: 300;
    color: #B6B6B6;
    text-align: center;
}
/* social list */
.social-list {
    list-style: none;
    display: flex;
    position: relative;
    bottom: -250px;
    right: -80px;
    padding: 0 9px;
    margin: 0 auto;
}
.social-list::before {
    list-style: none;
    display: flex;
}

.social-link {
    display: block;
    padding: 18px 20px;
}
.social-ico {
    display: block;
    height: 16px;
    position: absolute;
} 
/* footer */
footer {
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 50px;
    border-top: 1px solid #B6B6B6;
}
input:nth-last-child(1) {
    border: none;
    background-color: #95E1D3;
    height: 40px;
    width: 150px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}
input:nth-last-child(2) {
    
    border: 1px solid #B6B6B6;
    border-right: none;
    width: 240px;
    height: 40px;
    padding: 10px;
}
::-webkit-input-placeholder {
    color: #B6B6B6;
}

.content-box {
    display: flex;
    justify-content: space-between;
    position: relative;
}